@import './styles/_variables.scss';
@import './styles/_button.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
}

button {
    @include button-style($accent-color, $background-color);
}