@import '../../styles/_variables.scss';

.home-container {
    height: calc(100vh - 200px);
    background-color: $background-color;
    color: $text-color;

    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        h1 {
            font-size: $font-size-large;
            padding-bottom: $spacing-small;
    
            mark {
                background-color: $accent-color;
                color: $background-color;
            }
        }
    
        p {
            font-size: $font-size-medium;
            padding-bottom: $spacing-medium;
        }
    
        button {
            width: 150px;
        }
    }
}