@import '../../styles/_variables.scss';

.home-container {
    text-align: center;
    padding-top: $spacing-large;
    height: calc(100vh - 200px);
    background-color: $background-color;
    color: $text-color;

    h1 {
        font-size: $font-size-large;
        padding-bottom: $spacing-small;

        mark {
            background-color: $accent-color;
            color: $background-color;
        }
    }

    p {
        font-size: $font-size-medium;
        padding-bottom: $spacing-medium;
    }
}